@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #e7f5ff;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 400ms ease;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-[var(--color-bg)] text-[var(--color-white)] leading-relaxed;
}

.container {
  @apply mx-auto px-4;
}
