@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #e7f5ff;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 400ms ease;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-[var(--color-bg)] text-[var(--color-white)] leading-relaxed;
}

.container {
  @apply mx-auto px-4;
}

h1 {
  @apply text-4xl font-medium;
}
h2,
h3,
h4,
h5 {
  @apply font-medium;
}

h1,
h3,
h5 {
  @apply text-[var(--color-primary)];
}

button {
  @apply text-base;
}

section {
  @apply mt-32;
}

section > h2 {
  @apply text-center text-[var(--color-primary)] mb-12;
}

.text-light {
  @apply text-[var(--color-light)];
}

a,
button {
  @apply text-[var(--color-primary)] transition-all duration-400;
}

a:hover {
  @apply text-[var(--color-bg)];
}

.btn {
  @apply inline-block px-5 py-3 rounded-md cursor-pointer border border-[var(--color-primary)] transition-all duration-400;
}

.btn:hover {
  @apply bg-[var(--color-primary)] text-[var(--color-bg)] border-transparent;
}

.btn-primary {
  @apply bg-[var(--color-primary)] text-[var(--color-bg)];
}

.btn-primary:hover {
  @apply bg-[var(--color-bg)] text-[var(--color-primary)] border-[var(--color-primary)];
}

img {
  @apply block w-full h-full object-cover;
}

svg {
  @apply w-6 h-6;
}

header {
  @apply h-screen pt-28 overflow-hidden;
}

.header__container {
  @apply text-center h-full relative;
}

.cta {
  @apply mt-10 flex gap-5 justify-center;
}

.header__socials {
  @apply flex flex-col items-center gap-3 absolute left-0 bottom-12;
}

.header__socials::after {
  content: "";
  @apply w-px h-8 bg-[var(--color-primary)];
}

.me {
  @apply bg-gradient-to-b from-[var(--color-primary)] to-transparent w-88 h-[30rem] absolute left-1/2 transform -translate-x-1/2 mt-16 rounded-t-[12rem] overflow-hidden p-20 pb-6;
}

.scroll__down {
  @apply absolute -right-9 bottom-20 rotate-90 font-light text-lg;
}

@media (max-width: 1024px) {
  header {
    @apply h-[68vh];
  }
}

@media (max-width: 600px) {
  header {
    @apply h-screen;
  }
  .header__socials,
  .scroll__down {
    @apply hidden;
  }
}
